<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wj.learnmvi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base2.impl.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnMVI">
        <activity
            android:name=".dataBindingDemo.FirstBdActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity">

        </activity>
        <activity android:name=".anim.animator.AnimatorActivity">

        </activity>
        <activity android:name=".StatusBarActivity"/>
        <activity android:name=".DragBottomActivity">


        </activity>
<!--        <activity android:name=".FirstBdActivity" />-->
        <!--<activity android:name=".log.LogTestActivity" />-->
        <!--<activity android:name=".ExoPlayerActivity" />-->
        <!-- <activity android:name=".SearchActivity" />-->
        <receiver android:name=".alarm.UpdateReceiver" />
        <service android:name=".alarm.MyService" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
    </application>

</manifest>